:root {
  --background-primary: #ad3410;
}

$prefix: '';
$transition-base: .2s linear;

$fixed-padding: 15px;


// Grid-breakpoints

$grid-breakpoints: (
        xs: 0,
        sm: 540px,
        md: 720px,
        lg: 960px
);

// Font-size

$font-size-function: (
        50: 50px,
);

// Font-size Responsive

$font-size-responsive-function: (
);


//Font Line Height

$font-line-height: (
        24: 24px,
);

// Background Color

$background-color: (
);

// Font Color

$font-color: (
        white: white,

);

// Border Radius

$border-radius: (

);

